@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  height: 100vh;
  box-sizing: border-box;
  background: white;
  color: #4a4a4a;
  justify-content: flex-start; /* Show content from the top on mobile */
  align-items: center;
  overflow-y: auto;
  margin-left: 16px; /* Add left margin for mobile */
  margin-right: 4px; /* Further decrease the right margin for mobile */
}

/* Desktop layout adjustments */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    margin-left: 50px; /* Add larger left margin for desktop */
    margin-right: 8px; /* Further decrease the right margin for desktop */
  }
}

.left-section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #50545b;
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 1.875rem;
  }
}

.highlighted-text {
  color: #225865;
  font-weight: 600;
  max-width: 400px;
}

.description {
  font-size: 0.875rem;
  color: #718096;
  max-width: 500px;
  line-height: 1.6;
}

.illustration {
  width: 100%;
  max-width: 450px;
  height: auto;
  object-fit: contain;
}
